<div class="center hero-unit">
<h1>Welcome to Vishal Call!</h1>
<h2>
	<br>
	This is the home of the Vishal Call Project.
	<br><br>Some day there will be a <u>WORKING</u> button here. 
	And when you push it, it will call Vishal!
</h2>
	<a href="http://www.lumosity.com" class="btn btn-primary btn-large"> Call Vishal! (not operational) </a>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>